html {
    font-size: 100%; /*Fix a IE em BUG*/
}

font, basefont {
    font-size: 100%; /*Fix a IE em BUG*/
}

/* First, fix the fonts */
body, caption, th, td, input, textarea, select, option, legend, fieldset  {
    font-family: Droid Sans, "DejaVu Sans", Helvetica, Arial, sans-serif;
}

#site-name {
    font-family: Lustria, Georgia, Times, serif;
    white-space: nowrap;
}

h1, h2, h3, #site-menu {
    font-family: Vollhorn, Georgia, Times, serif;
    letter-spacing: 0;
}

#civicrm-menu {
    position: static;
}

#title-right h3 {
    margin: 0;
    font-size: 1.2em;
    font-family: Lustria, Georgia, Times, serif;
    font-weight: normal;
    font-variant: small-caps;
}

.front-block .views-field-title-1 a,
h3 a {
    text-decoration: none;
}

a {
    text-decoration: underline;
}

.views-field-field-status-value a,
.views-field-title a {
    text-decoration: none;
}

ul {
    list-style-type: disc;
}

/* Default site name way too large */
#site-name {
    font-size: 1.6em;
    line-height: 3em;
    padding-left: 2%;
    letter-spacing: 0em;
    vertical-align: bottom;
}

#title-right img {
    height: 24px;
}

/* Setup colors so we get a background color */

body {
    font-size: 1em;
    color: #23353D;
}

/* so that the editor isn't stupid */
body.bodyblack {
    background-color: black;
}

a, a:visited {
    color: #2462C7;
}

#front-bottom-wrapper a:hover {
    text-decoration: underline;
}

.front-block .block {
    width: 100%;
}

a:hover {
    opacity: 0.7;
}

a:hover h3,
a:hover h2,
a:hover h1 {
    opacity: 0.7;
}

#site-header {
    background-color: #ddd;
    margin-top: 0;
    padding-top: 10px;
}

#branding img {
    float: left;
}

#site-menu {
    background-color: #ddd;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
}

#site-menu li a {
    text-decoration: none;
    color: #666;
}
#site-menu li.active a {
    color: black;
}

#site-menu li {
    padding-bottom: 3px;
    padding-top: 3px;
    margin-left: -1px;
    margin-right: -1px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #eee;
}

#site-menu li.active-trail,
#site-menu li.active {
    background-color: white;
}

#site-header {
    padding-bottom: 6px;
}

#branding {
    vertical-align: center;
}

/* This ensures that either gs960 works */
.container-12, .container-16 {
    background-color: white;
}

h1 {
    font-size: 1.8em;
}

.front-block h2,
h2 {
    font-size: 1.6em;
}
h3, h4, h5, h6 {
    font-size: 1.4em;
}

/* Fix gapping between header and body */

#main-content-container {
    margin-top: 0;
    padding-top: 20px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#footer-wrapper {
    padding-top: 10px;
    background-color: black;
}

#footer-message {
    color: #ddd;
}

#footer-message a {
    color: #eee;
}

/*** BOX AROUND MEETING ***/
.front-block {
    height: 100%;
}
.front-block .content {
    height: 100%;
}

.front-block .content {
    padding: 0 10px;
    webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#front-page-container .views-field-field-date-value {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Lustria, Georgia, Times, serif;
    padding-bottom: 0.5em;
}

/*
.front-block .content p {
    text-align: justify;
}
*/

.front-block .block {
    display: table;
}

#front-bottom-wrapper h2,
.front-block h1 {
    margin-bottom: 0px;
    webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    padding: 2px 10px;
    margin: -2px -10px 0px;
    overflow: hidden;
    background-color: #2E5DA6;
    font-variant: small-caps;
    font-size: 1.2em;
}

.front-block .views-field-view-node {
    font-size: 0.9em;
}

#front-left .views-field-view-node a,
#front-left h1 {
    background-color: #2E5DA6;
    color: white;
}

#front-center .views-field-view-node a,
#front-center h1 {
    background-color: #A60800;
    color: white;
}

#front-right .views-field-view-node a,
#front-right h1 {
    background-color: #1F7A16;
    color: white;
}

.front-block h3 {
    font-size: 1.4em;
    margin-left: 1em;
    margin-bottom: 0;
}

.front-block .views-field-view-node {
    text-align: right;
    height: 100%;
}

/* More link that goes to the left */
.front-block .views-field-view-node a {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-decoration: none;
    line-height: 1ex;
    padding: 3px 10px 5px;
    text-align: right;
    font-size: 1em;
}

/*
.front-block .date-display-single {
    font-weight: bold;
}*/


/** for views that look like pages */
.main-border-box .view-header {
    margin: 10px;
    padding-bottom: 5px;
}
.main-border-box .view-header h1 {
    margin-bottom: 0px;
}

.main-border-box .view-header {
    margin-bottom: 15px;
}

#astrographics-mobile,
#astrographics {
    padding-top: 3ex;
    padding-bottom: 3ex;
}

#blackback {
    text-align: center;
    vertical-align: top;
    background-color: #000000;
    /* height: 150px; */
    width: 870px;
    margin: 0px auto;
    padding: 10px;
    webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#astrographics-mobile #blackback {
    padding: 0;
}

#blackback img {
    margin: 5px;
    background-color: white;
    height: 150px;
    width: auto;
}

/* #front-right .item-list h3 { */
/*     line-height: 2em; */
/*     margin-bottom: 2px; */
/*     overflow: hidden; */
/*     padding-top: 10px; */
/*     border-bottom: 1px #E38556 solid; */
/* } */

/* #front-right .item-list h3 span { */
/*     line-height: 1; */
/*     padding: 8px 30px 8px 1em; */
/*     color: black; */
/*     background-color: #E38556; */
/*     line-height: 2em; */
/*     -webkit-border-top-right-radius: 10px; */
/*     -moz-border-top-right-radius: 10px; */
/*     border-top-right-radius: 10px; */
/* } */

.block p {
    margin-bottom: 1em;
}


/*** Pager ***/


/*** Page tabs ***/
#page-title {
    margin-bottom: 0px;
}

.main-border-box #content-tabs {
    border: none;
    padding: 3px 10px 0px;
    background-color: #E38556;
    overflow: hidden;
}

ul.primary {
    white-space: normal;
    line-height: 1.5;
}

ul.main-menu li,
ul.primary a {
    white-space: nowrap;
}

.main-border-box #content-tabs ul.secondary li,
.main-border-box #content-tabs ul.primary li {
    margin: 0px;
}

.main-border-box #content-tabs ul.secondary li,
.main-border-box #content-tabs ul.primary li {
    padding: 3px 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #E3AD91;
    border: 1px #999 solid;
    border-bottom: none;
}

.main-border-box #content-tabs ul.secondary li a.active,
.main-border-box #content-tabs ul.primary li a.active {
    border-bottom: none;
}

.main-border-box #content-tabs ul.secondary li.active,
.main-border-box #content-tabs ul.primary li.active {
    background-color: white;
}

.sidebar .block .content,
.main-border-box #main-content {
    padding: 0px 10px;
}

/* make sure that images don't grow bigger than columns */
.container-12 img {
    width: auto;
    height: auto;
    max-width: 98%;
}

.container-12 #Map img {
    max-width: none;
}

/* Remove the border at the bottom of .node */
.node {
    border: none;
}

/* Do the upcoming events thing with numbers */
/* #block-views-upcoming_events-block_1 h3,
#block-views-upcoming_events-block_1 .content {
    margin: 0;
    padding: 0;
} */

/* front page upcoming block is kind of funky */
#front-bottom-wrapper .content {
    margin-top: 0;
}
#front-bottom-wrapper h3,
#front-bottom-wrapper h2 {
    margin: 0;
}

#front-bottom-wrapper .views-field-view-node {
    margin-top: -1em;
    margin-bottom: 1em;
}

.view-frontpage .views-field-created {
    font-style: italic;
}

.view-upcoming-events a {
    text-decoration: none;
}
.view-upcoming-events a:hover {
    text-decoration: underline;
}

.view-upcoming-events .views-field-title {
    font-weight: bold;
}

.view-upcoming-events .item-list ul li {
    list-style-type: none;
    margin-left: 2.5em;
    margin-bottom: 1em;
}

.view-upcoming-events .views-field-field-date-value-2 {
    font-family: Vollhorn, Georgia, sans-serif;
    width: 1.5em;
    float: left;
    margin-left: -2em;
    font-size: 2em;
    text-align: right;
    line-height: 0.8em;
    padding-right: 0.5em;
}

/* Fix for views */
#main-content .views-tabset .views-tabs ul {
    margin-left: 0px;
}

/* This make the responsive stuff work. We drop below 767 and
   all the columns reflow into a single column */

/* @media screen and (max-device-width: 810px) {
	* { -webkit-text-size-adjust: 100%; }
} */

.mobile-only {
    display: none;
}

#module-filter-wrapper ul {
    margin-left: 0;
}

/** @media handheld, only screen and (max-width: 767px) { */
@media (max-width: 1024px) {
    .container-12 {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #front-right {
        width: 98%;
        left: 0;
    }
    #front-center {
        left: 50%;
        width: 48%;
    }
    #front-left {
        width: 48%;
        left: -50%;
    }

}

@media (max-width: 800px) {
    #site-name {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
    }

    #front-left,
    #front-right,
    #front-center,
    .container-12 .push-1,
    .container-12 .pull-1,
    .container-12 .push-2,
    .container-12 .pull-2,
    .container-12 .push-3,
    .container-12 .pull-3,
    .container-12 .push-4,
    .container-12 .pull-4,
    .container-12 .push-5,
    .container-12 .pull-5,
    .container-12 .push-6,
    .container-12 .pull-6,
    .container-12 .push-7,
    .container-12 .pull-7,
    .container-12 .push-8,
    .container-12 .pull-8,
    .container-12 .push-9,
    .container-12 .pull-9,
    .container-12 .push-10,
    .container-12 .pull-10,
    .container-12 .push-11,
    .container-12 .pull-11
    {
        left: 0;
    }

    .container-12 .grid-2 {
        width: 28%;
    }

    .container-12 .grid-10 {
        width: 68%;
    }

    #front-left,
    #front-right,
    #front-center,
    .container-12 .grid-1,
    .container-12 .grid-3,
    .container-12 .grid-4,
    .container-12 .grid-5,
    .container-12 .grid-6,
    .container-12 .grid-7,
    .container-12 .grid-8,
    .container-12 .grid-9,
    .container-12 .grid-11,
    .container-12 .grid-12
    {
        width: 98%;
    }


    .mobile-only #blackback {
        text-align: left;
        width: 100%;
    }

    .mobile-only #blackback img {
        margin: 3%;
    }

    .no-mobile {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}


@media (max-width: 480px) {
    /* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
    body, input, textarea {
    font-size: 0.8em;
}
#blackback img {
    max-width: 96%;
    height: auto;
}
    .container-12 .grid-2 {
        width: 38%;
    }

    .container-12 .grid-10 {
        width: 58%;
    }

}

@media (max-width: 320px) {
    #site-name {
        font-size: 1em;
    }

    #title-right img {
        height: 16px;
    }
}